dns/external/*
dns/internal/*

!dns/external/domain.csv
!dns/internal/domain.csv

dns/gobuster-subdomains.txt

scans/host-discovery/*
scans/port-scan/*
scans/vuln-scan/*

!scans/host-discovery/.gitkeep
!scans/port-scan/.gitkeep
!scans/vuln-scan/.gitkeep

greenbone/.env
.env
.env.*

!.env.example
!greenbone/.env.example

